@font-face {
  font-family: "Bereg";
  src: url("../fonts/Bereg-Bold.eot");
  src: url("../fonts/Bereg-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bereg-Bold.woff2") format("woff2"), url("../fonts/Bereg-Bold.woff") format("woff"), url("../fonts/Bereg-Bold.ttf") format("truetype"), url("../fonts/Bereg-Bold.svg#Bereg-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
  background: #FFE712;
}

::selection {
  background: #FFE712;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.35;
  transition: 0.6s ease;
}
body.noscroll {
  overflow: hidden;
  background: #EDF6FF;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  background: #FFFFFF;
  border-radius: 32px;
  padding: 10px 18px;
  border: none;
  display: block;
  outline: none;
}
input::-moz-placeholder {
  color: #B3B3B3;
}
input::placeholder {
  color: #B3B3B3;
}

textarea {
  background: #fff;
  border-radius: 12px;
  border: none;
  resize: none;
  height: 110px;
  padding: 10px 18px;
}
textarea::-moz-placeholder {
  color: #B3B3B3;
}
textarea::placeholder {
  color: #B3B3B3;
}

h1 {
  font-family: "Bereg", sans-serif;
  font-size: 70px;
  line-height: 1;
  max-width: 690px;
  color: #161414;
}

h2 {
  font-family: "Bereg", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 28px;
  max-width: 1072px;
}

.title-desc {
  font-size: 14px;
  line-height: 1.5;
  max-width: 602px;
}

.btn {
  background: #FFE712;
  border-radius: 8px;
  width: 190px;
  border: none;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #232222;
  cursor: pointer;
}

.button-l {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.button-l:hover .button-s {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  left: -7px !important;
  top: -7px !important;
}

.button-s {
  display: inline;
  background-color: #FFE712;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: all 0.7s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0s;
  backface-visibility: hidden;
  z-index: -1;
  pointer-events: none;
}

li {
  list-style: none;
}

.list_name {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 12px;
}
.list li {
  font-size: 14px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 11px;
  padding-left: 20px;
  position: relative;
}
.list li:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 8px;
}

.container {
  max-width: 1420px;
  width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
  min-height: 80px;
}
.nav_logo {
  height: 20px;
}
.nav_logo img {
  height: 100%;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
  margin-right: 40px;
}
.nav_menu_item {
  font-size: 16px;
  font-weight: 500;
  color: #5C5C5C;
}
.nav_menu_item:hover, .nav_menu_item.active {
  color: #161414;
}
.nav_btns {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav_btn {
  background: transparent;
  border: 1px solid #DEDEDE;
  border-radius: 15px;
  padding: 12px 20px;
  font-size: 16px;
  color: #161414;
  transition: 0.5s ease;
  cursor: pointer;
}
.nav_btn:hover {
  background: #FFE712;
  border-color: #FFE712;
}
.nav_burger {
  display: none;
  position: relative;
  width: 28px;
}
.nav_burger_menu {
  width: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  height: 20px;
  padding: 0 5px;
}
.nav_burger_menu.hide {
  pointer-events: none;
  display: none;
}
.nav_burger_close {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease;
  display: none;
}
.nav_burger_close.show {
  display: block;
  transform: translateY(-50%) rotate(-90deg);
}
.nav_burger_item {
  background: #141736;
  border-radius: 2px;
  height: 2px;
  width: 100%;
}
.nav_burger_item:last-child {
  width: 10px;
}
.nav_favorites {
  display: none;
}

.input-file {
  width: 175px;
  background: #FFFFFF;
  border-radius: 15px;
  position: relative;
}
.input-file_text {
  font-size: 16px;
  color: #161414;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 18px;
}
.input-file input {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  opacity: 0;
}

.project {
  background: #EDF6FF;
  position: fixed;
  transform: translateY(-100%);
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  opacity: 0;
  min-height: 100vh;
  height: 100vh;
  overflow: auto;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
.project.show {
  top: 0;
  transform: translateY(0);
  z-index: 11;
  opacity: 1;
}
.project .nav_burger {
  width: 32px;
}
.project .nav_burger, .project .nav_burger_close {
  display: block;
}
.project_wrap {
  margin-top: 45px;
  margin-bottom: 40px;
}
.project .footer {
  margin-top: auto;
  padding: 0;
}
.project_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 24px;
}
.project_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 24px;
}
.project_title {
  font-size: 55px;
  margin-bottom: 34px;
}
.project_desc {
  font-size: 15px;
  color: #333131;
}
.project_text {
  font-size: 12px;
  color: #909090;
  max-width: 430px;
}
.project_text_show {
  color: #333131;
}
.project_obligation_sm {
  display: none;
}
.project_inputs_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 45px;
}
.project_inputs_wrap.with-textarea {
  grid-template-columns: 1fr 175px;
}
.project_inputs_name {
  font-size: 31px;
  color: #161414;
  margin-bottom: 22px;
}
.project_inputs_bottom {
  display: flex;
  align-items: flex-start;
  gap: 65px;
  margin-top: 62px;
}
.project_inputs_2 {
  margin-top: -30px;
}
.project_inputs_sizes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px 34px;
  margin-bottom: 80px;
}
.project_inputs_size {
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.project_inputs_size input {
  margin: 0 auto;
  opacity: 0;
}
.project_inputs_size input:checked + label:before {
  background: #FFE712;
}
.project_inputs_size label {
  margin-top: 7px;
  margin-bottom: 18px;
  display: block;
}
.project_inputs_size label:before {
  content: "";
  display: block;
  position: absolute;
  height: 13px;
  width: 13px;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.project_inputs_size label img {
  width: 100%;
}
.project_inputs_size .price {
  color: #000;
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  line-height: 120%; /* 22.8px */
}
.project_input {
  background: #FFFFFF;
  border-radius: 32px;
  padding: 10px 18px;
}
.project_textarea {
  font-family: "Inter", sans-serif;
  border-radius: 16px;
  padding: 16px 20px;
  height: 172px;
  width: 100%;
  margin-bottom: 30px;
}
.project_services_name {
  font-size: 15px;
  color: #333131;
}
.project_services_wrap {
  display: flex;
  gap: 16px;
}
.project_services_item {
  background: #FFFFFF;
  border-radius: 32px;
  padding: 10px 18px;
  margin-bottom: 36px;
  margin-top: 24px;
  font-size: 15px;
  color: #000;
}
.project_services_item.active {
  background: #DEDEDE;
}
.project_credits {
  font-size: 12px;
  color: #909090;
}
.project_credits a {
  color: #1D1F20;
}
.project_btn {
  width: 175px;
  height: 44px;
  border-radius: 22px;
  color: #161414;
}

.hidden {
  position: absolute;
  background: #EDF6FF;
  top: 60px;
  padding-top: 40px;
  right: -10%;
  width: 0%;
  height: calc(100vh - 40px);
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s ease-out;
}
.hidden.show {
  width: 100%;
  right: 0;
  opacity: 1;
}
.hidden_menu {
  text-align: right;
  margin-bottom: 40px;
}
.hidden_menu_item {
  display: block;
  font-family: "Bereg";
  font-size: 28px;
  line-height: 46px;
  white-space: nowrap;
}
.hidden_socials {
  display: flex;
  gap: 40px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 30vh;
}
.hidden_btn {
  width: 175px;
  height: 44px;
  border-radius: 22px;
  color: #161414;
  margin: 0 auto;
}

.animation_slide > div {
  overflow: hidden;
}
.animation_slide > div > p {
  margin: 0;
  line-height: 117%;
}

.animation_slide > div {
  animation-delay: 0;
}
.animation_slide > div:nth-child(2) {
  animation-delay: 0.4s;
}
.animation_slide > div:nth-child(2) > p {
  animation-delay: 0.05s;
}
.animation_slide > div:nth-child(2) > .cons_item, .animation_slide > div:nth-child(2) .pros_item {
  animation-delay: 0.05s;
}

.animation_slide > div {
  animation-delay: 0;
}
.animation_slide > div:nth-child(3) {
  animation-delay: 0.6s;
}
.animation_slide > div:nth-child(3) > p {
  animation-delay: 0.075s;
}
.animation_slide > div:nth-child(3) > .cons_item, .animation_slide > div:nth-child(3) .pros_item {
  animation-delay: 0.075s;
}

.animation_slide > div {
  animation-delay: 0;
}
.animation_slide > div:nth-child(4) {
  animation-delay: 0.8s;
}
.animation_slide > div:nth-child(4) > p {
  animation-delay: 0.1s;
}
.animation_slide > div:nth-child(4) > .cons_item, .animation_slide > div:nth-child(4) .pros_item {
  animation-delay: 0.1s;
}

.slide-up {
  animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.scale-up {
  animation: scale-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.d-none {
  display: none !important;
}

/* -------------  Header  ---------------- */
.header-home {
  background: #fff url("../img/main-bg.svg") no-repeat center bottom/cover;
  min-height: 800px;
  height: calc(100vh - 30px);
  margin-bottom: 30px;
}
.header_offer {
  padding: 116px 0 124px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: flex-start;
  justify-content: end;
}
.header_seo {
  background-color: #EDF6FF;
}
.header_info {
  margin-top: 18px;
  width: 512px;
}
.header_title {
  margin-left: 140px;
}
.header_desc {
  font-size: 16px;
  line-height: 1.3;
  color: #333131;
  max-width: 400px;
  margin-bottom: 87px;
}
.header_bubbles {
  display: flex;
  align-items: flex-start;
  width: -moz-fit-content;
  width: fit-content;
}
.header_bubble {
  background: #FFE712;
  border-radius: 50%;
  width: 104px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  margin-top: 80px;
  padding: 10px;
}
.header_bubble.firm-style {
  width: 161px;
  height: 161px;
  margin-top: 0;
  margin-left: 62px;
}
.header_bubble.web-sites {
  width: 148px;
  height: 148px;
  margin-top: 180px;
  margin-left: -20px;
}

.cons {
  padding-top: 30px;
  padding-bottom: 50px;
}
.cons_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 140px;
}
.cons_item {
  display: flex;
  align-items: flex-start;
  gap: 27px;
}
.cons_img {
  min-width: 82px;
  text-align: center;
}
.cons_name {
  font-size: 24px;
  font-weight: 500;
  color: #161414;
  margin-bottom: 24px;
}
.cons_desc {
  font-size: 15px;
  color: #6D6D6D;
  line-height: 150%;
  height: 140px;
}

/* -------------  Steps  ---------------- */
.steps {
  padding-bottom: 60px;
}
.steps_wrap {
  display: flex;
  padding-top: 102px;
}
.steps_circle {
  background: #EDF6FF;
  width: 296px;
  min-width: 296px;
  height: 296px;
  border-radius: 50%;
  padding: 0 16px 0 46px;
  transition: 0.5s ease;
}
.steps_circle:nth-child(even) {
  margin-top: 190px;
}
.steps_circle:not(:first-child) {
  margin-left: -20px;
}
.steps_circle.active {
  background: #FFE712;
}
.steps_circle.active .steps_circle_number {
  color: #000;
}
.steps_circle.active .steps_circle_text {
  color: #000;
}
.steps_circle_top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}
.steps_circle_name {
  font-size: 18px;
  font-weight: 600;
  width: 115px;
  margin-top: 76px;
}
.steps_circle_number {
  font-size: 100px;
  font-weight: 800;
  color: rgba(0, 117, 225, 0.1);
  line-height: 0.75;
}
.steps_circle_text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

/* -------------  Templates  ---------------- */
.sort-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1em;
  padding: 4px 0;
  font-size: 21px;
  color: #000;
}
.sort-btn img {
  transform: rotate(180deg);
  width: 11px;
}
.sort-btn.active img {
  transform: rotate(0deg);
}

.clear-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1em;
  margin-left: auto;
}

.templates {
  padding: 60px 0 120px;
}
.templates_filters {
  display: flex;
  gap: 30px;
  padding: 53px 0 28px;
  width: 100%;
}
.templates_categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.templates_types {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.templates_category {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 32px;
  margin-bottom: 5px;
  padding: 10px 18px;
  cursor: pointer;
}
.templates_category.active {
  background: #DEDEDE;
}
.templates_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 40px;
}
.templates_item {
  background: #D9D9D9;
  border-radius: 12px;
  height: 420px;
  margin-bottom: 40px;
  overflow: hidden;
}
.templates_item:hover img {
  transform: scale(1.05);
}
.templates_item div {
  transform: translateX(0);
  display: flex;
  transition: 0.5s ease-out;
  height: 100%;
}
.templates_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease;
}
.templates_btn {
  background: #EDF6FF;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto 0;
  font-size: 18px;
  color: #000;
}

/* -------------  Footer  ---------------- */
.footer {
  background: #EDF6FF;
  padding: 46px 0;
}
.footer_top {
  margin-bottom: 18px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_bottom .footer_links {
  font-size: 9px;
}
.footer_links {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 12px;
}
.footer_link {
  color: #5C5C5C;
}
.footer_link:hover, .footer_link.active {
  color: #161414;
}
.footer_socials {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer_icons {
  margin-left: 7px;
}
.footer_credits {
  font-size: 11px;
}

/* -------------  Fixed plans  ---------------- */
.fixed-plans {
  padding: 0 0 120px;
}
.fixed-plans_wrap {
  margin-top: 90px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 40px;
}
.fixed-plans_name {
  font-size: 20px;
  margin-bottom: 24px;
}
.fixed-plans_item {
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 45px 45px 45px 24px;
}
.fixed-plans_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 50px;
}
.fixed-plans_col {
  max-width: 285px;
}
.fixed-plans_col_name {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 14px;
}
.fixed-plans_col_list {
  min-height: 150px;
  margin-bottom: 25px;
}
.fixed-plans_price {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.fixed-plans_bottom {
  font-weight: 600;
}

/* -------------  Template  ---------------- */
.presentation {
  background: #F8F8F8;
  padding: 107px 0 127px;
}
.presentation_wrap img {
  width: 100%;
}

.template {
  padding: 60px 0;
}
.template_wrap {
  max-width: 816px;
}
.template_desc {
  font-size: 15px;
  color: #6D6D6D;
  margin-bottom: 35px;
}
.template_list {
  display: grid;
  grid-template-columns: 290px 460px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 55px;
}
.template_footer {
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 32px 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.template_footer_price {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 35px;
}
.template_footer_price_sm {
  display: none;
}
.template_footer_text {
  font-weight: 600;
  max-width: 425px;
  line-height: 1.2em;
}
.template_footer_circle {
  background: #EDF6FF;
  border-radius: 50%;
  width: 148px;
  height: 148px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template .fixed-plans_wrap {
  align-items: initial;
  flex-wrap: wrap;
}
.template .fixed-plans_content {
  max-width: 100%;
  margin-bottom: 20px;
}
.template .fixed-plans_item {
  padding: 30px 26px;
  width: 578px;
  max-width: 100%;
}
.template .fixed-plans_price {
  max-width: 190px;
  text-align: center;
}
.template .fixed-plans_col_list {
  margin-bottom: 0;
}

/* -------------  Stamps  ---------------- */
.stamps .pros {
  padding-top: 120px;
  padding-bottom: 75px;
}
.stamps .pros_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px 50px;
}
.stamps .pros_item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.stamps .pros_icon {
  border-radius: 12px;
  width: 50px;
  min-width: 50px;
  height: 50px;
}
.stamps .pros_icon img {
  max-width: 100%;
}
.stamps .pros_name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  color: #161414;
  margin-bottom: 24px;
}
.stamps .pros_text {
  font-size: 15px;
  line-height: 1.5;
  color: #6D6D6D;
}
.stamps .types {
  padding-bottom: 60px;
}
.stamps .types_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px 24px;
  margin-top: 75px;
}
.stamps .types_item {
  position: relative;
  max-width: 100%;
}
.stamps .types_item:nth-child(3) .types_info, .stamps .types_item:nth-child(4) .types_info {
  padding-top: 40px;
  padding-bottom: 45px;
}
.stamps .types_item:hover .types_info {
  opacity: 1;
}
.stamps .types_item:after {
  content: "";
  background: #FFE712 url("../img/open-box.svg") no-repeat center/contain;
  background-size: 26px;
  background-position-y: 14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
  position: absolute;
  right: 7px;
  bottom: -10px;
}
.stamps .types_info {
  padding: 90px 45px 90px 50px;
  background: rgba(237, 246, 255, 0.85);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.stamps .types_info:after {
  content: "";
  background: #FFE712 url("../img/open-box.svg") no-repeat center/contain;
  background-size: 26px;
  background-position-y: 14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
  position: absolute;
  right: 7px;
  top: -46px;
}
.stamps .types_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stamps .types_name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 26px;
}
.stamps .types_text {
  font-size: 14px;
}
.stamps .catalog {
  padding: 60px 0;
}
.stamps .catalog_desc {
  margin-bottom: 46px;
}
.stamps .catalog_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 54px 24px;
  margin-top: 53px;
  margin-bottom: 75px;
  display: none;
}
.stamps .catalog_wrap.show {
  display: grid;
}
.stamps .catalog_wrap.full .catalog_item {
  display: flex;
}
.stamps .catalog_item {
  background: #F6F6F6;
  border-radius: 12px;
  aspect-ratio: 1/1;
  display: none;
  align-items: center;
  justify-content: center;
}
.stamps .catalog_item:nth-child(-n+8) {
  display: flex;
}
.stamps .catalog_item img {
  max-width: 80%;
  width: 80%;
}
.stamps .catalog-modal {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 10;
}
.stamps .catalog-modal.show {
  display: flex;
}
.stamps .catalog-modal_content {
  border-radius: 12px;
  background: #F6F6F6;
  padding: 25px;
  overflow: auto;
  max-height: 90%;
  max-width: 90%;
}
.stamps .catalog-modal_close {
  display: flex;
  margin-left: auto;
  width: 24px;
}
.stamps .catalog-modal_close img {
  width: 100%;
}
.stamps .catalog-modal_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px 35px;
  gap: 56px;
}
.stamps .catalog-modal_stamp {
  width: 340px;
  height: auto;
  aspect-ratio: 1/1;
  max-width: 100%;
}
.stamps .plans {
  padding: 60px 0;
}
.stamps .plans_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 90px 0 120px;
}
.stamps .plans_item {
  width: 23%;
}
.stamps .complect {
  padding-bottom: 240px;
}
.stamps .complect_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.stamps .complect_title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 72px;
  line-height: 1.2;
}
.stamps .complect_price {
  font-weight: 600;
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 36px;
}
.stamps .complect_btn {
  width: 300px;
  height: 98px;
  font-size: 22px;
}
.stamps .complect_img {
  position: relative;
}
.stamps .complect_img img {
  max-width: 100%;
  max-height: 100%;
}
.stamps .complect_img:before {
  content: "";
  background: url("../img/complect-1.png") no-repeat center/contain;
  width: 436px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  left: -406px;
  top: 300px;
}

/* -------------  Order  ---------------- */
.order {
  padding-top: 114px;
  padding-bottom: 100px;
}
.order_wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
.order_product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 36px;
}
.order_product.coloring .order_product_img {
  height: 272px;
  aspect-ratio: initial;
}
.order_product_img {
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  aspect-ratio: 1/1;
  display: flex;
  overflow: hidden;
}
.order_product_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order_product_text {
  color: #6D6D6D;
  line-height: 1.5;
  margin-bottom: 28px;
}
.order_product_name {
  font-size: 24px;
  font-weight: 500;
  color: #161414;
  margin-bottom: 24px;
}
.order_product_types {
  margin-bottom: 24px;
  gap: 22px 16px;
}
.order_product_types .templates_category.active {
  background: #FFE712;
  border: #FFE712;
}
.order_product_btn {
  background: #EDF6FF;
  border-radius: 8px;
  padding: 20px;
  display: inherit;
  margin-left: auto;
  margin-top: 24px;
  margin-right: 160px;
}
.order_form_name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
  color: #161414;
}
.order_form_item {
  background: #F4F4F4;
  border-radius: 12px;
  padding: 30px 40px 40px;
  margin-bottom: 30px;
}
.order_form_delivery {
  font-size: 13px;
  color: #161414;
  margin-top: 15px;
}
.order_form_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 38px;
}
.order_form_price {
  font-size: 35px;
  font-weight: 600;
  white-space: nowrap;
}
.order_form_btn {
  background: #FFE712;
  border-radius: 50%;
  width: 104px;
  min-width: 104px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.order_input {
  margin-top: 20px;
  width: 100%;
}
.order_radio {
  display: flex;
  align-items: center;
  gap: 26px;
}
.order_radio_item {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.order_radio_item input {
  width: 20px;
  height: 20px;
  opacity: 0;
  cursor: pointer;
}
.order_radio_item input:checked + label:after {
  background: #FFE712;
}
.order_radio_item label {
  cursor: pointer;
}
.order_radio_item label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 1px;
  pointer-events: none;
}
.order_radio_item label:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 5px;
  pointer-events: none;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;
}
.colors_item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.colors_item.active {
  border: 2px solid #FF2012;
}
.colors_item.blue {
  background: #001EF5;
}
.colors_item.black {
  background: #000000;
}
.colors_item.white {
  border: 1px solid #000000;
}

.color {
  padding: 60px 0;
}
.color_wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 20px;
  margin-top: 57px;
}
.color_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.color_item img {
  aspect-ratio: 1/1;
  width: 100%;
}
.color_colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 23px 19px;
  width: 220px;
  margin: 0 auto;
}
.color_color {
  background: #BFFB5B;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid transparent;
}
.color_color.active {
  border-color: #FF3939 !important;
}

/**seo**/
.seo-top {
  background-image: url("./../../img/seo/subtract.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 938px;
}

.seo-top__block {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
  padding-top: 129px;
}

.seo-title {
  padding-top: 71px;
}

.seo-top__text {
  font-family: "Bereg", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 45px;
}

.seo-btn {
  background-color: #FFE712;
  font-weight: 400;
  font-size: 15px;
  padding: 20px 30px;
  border-radius: 40px;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
.seo-btn:hover {
  background-color: #FFFFFF;
}

.seo-price {
  display: flex;
  justify-content: space-between;
  padding-left: 130px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding-top: 56px;
  margin-bottom: 185px;
}

.seo-price-cost-block {
  max-width: 555px;
  padding-top: 105px;
}

.seo-price__cost {
  display: inline-block;
  padding: 27px 35px;
  background-color: #EDF6FF;
  border-radius: 30px;
}

.seo-price__cost_colored {
  margin-top: 55px;
  margin-left: 222px;
  background-color: #D5E9FC;
}

.seo-price__cost-inner {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
}

.seo-price__cost-text {
  font-family: "Bereg", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.seo-price__cost-text2 {
  font-family: "Bereg", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.seo-price__cost-text3 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
}

.seo-price__cost-ico {
  width: 16px;
  height: 16px;
  margin-left: 15px;
  background-image: url("../../img/seo/triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.seo-price-text-block {
  padding-top: 56px;
}

.seo-price__title {
  font-size: 68px;
}

.seo-price__text1 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 50px;
}

.seo-price__text2 {
  font-weight: 400;
  font-size: 16px;
}

.promotion-content {
  margin: 100px 0;
}

.promotion {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.promotion-item {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  max-width: 422px;
  width: 100%;
}

.promotion__circle {
  width: 80px;
  height: 80px;
  border: 1px solid #222020;
  font-family: "Bereg", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 25px;
  border-radius: 50px;
  color: #D9D9D9;
}

.promotion-text {
  font-weight: 400;
  font-size: 20px;
}

.promotion-arrow {
  display: flex;
  justify-content: center;
  -moz-column-gap: 33%;
       column-gap: 33%;
  margin: 15px 0;
}

.promotion-block {
  margin-bottom: 120px;
}

.seo-strategy {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 5px;
       column-gap: 5px;
  background-image: url("../img/seo/bg-seo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 58px 140px 105px 140px;
  border-radius: 10px;
}

.seo-strategy__list-img {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/seo/check.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.seo-strategy__list {
  padding: 3px 0;
}

.seo-strategy-title {
  font-family: "Bereg", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 63px;
}

.seo-strategy-subtitle {
  padding-top: 6px;
  font-size: 24px;
  font-weight: 600;
}

.seo-strategy-text {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 52px;
}

.position {
  margin: 160px 0;
  padding: 0 140px;
}

.position-title {
  font-size: 31px;
  font-family: "Bereg", sans-serif;
  margin: auto;
  font-weight: 700;
  line-height: 31px;
}

.position-subtitle {
  margin: 60px 0;
  font-size: 24px;
  font-weight: 500;
}

.position-items {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.position__item {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-bottom: 61px;
  min-height: 140px;
}

.position__item-circle {
  font-family: "Bereg", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #EDF6FF;
}

.position__item-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 27px;
}

.position__item-text {
  font-size: 15px;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */