@media screen and (max-width: 1440px) {
  h1 {
    font-size: 60px;
  }
  .header_title {
    margin-left: 0;
  }
  .container {
    width: 1140px;
  }
  .project_title {
    font-size: 48px;
  }
  .steps_circle:not(:first-child) {
    margin-left: -85px;
  }
  .steps_circle:nth-child(even) {
    margin-top: 250px;
  }
  .templates_item {
    aspect-ratio: 10/7;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .fixed-plans_list {
    gap: 30px;
  }
  .fixed-plans_col_list {
    min-height: 180px;
  }
  .stamps .complect_img {
    width: 430px;
    max-width: 90%;
  }
  .stamps .complect_img:before {
    width: 300px;
    left: -240px;
  }
  .template .fixed-plans_item {
    width: 550px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  h1 {
    font-size: 60px;
  }
  .header {
    padding-bottom: 100px;
  }
  .header_title {
    font-size: 52px;
  }
  .header_info {
    width: 460px;
  }
  .header_offer {
    padding-top: 90px;
  }
  .project_title {
    font-size: 42px;
  }
  .project_inputs_sizes {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px 30px;
  }
  .cons {
    margin-top: -100px;
  }
  
  .steps_circle:not(:first-child) {
    margin-left: -130px;
  }
  .steps_circle:nth-child(even) {
    margin-top: 290px;
  }
  .cons_wrap {
    margin: 0px 50px;
  }
  .stamps .complect_img:before {
    width: 240px;
    left: -90px;
  }
  .stamps .plans_wrap {
    margin: 90px 0;
  }
  .stamps .plans_item {
    width: 48%;
  }
  .order_product {
    grid-template-columns: 1fr 3fr;
  }
  .order_product.coloring .order_product_img {
    height: auto;
    aspect-ratio: 1/1;
  }
  .order_form_item {
    padding: 30px 25px;
  }
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 60px;
  }
  .container {
    width: 720px;
  }
  .project_top {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .project_body {
    grid-template-columns: 1fr;
  }
  .project_obligation {
    display: none;
  }
  .project_obligation_sm {
    display: block;
    margin-top: 40px;
  }
  .project_inputs_bottom {
    align-items: center;
    gap: 40px;
  }
  .project_services_item {
    margin-bottom: 20px;
  }
  .project_textarea {
    margin-bottom: 15px;
  }
  .project .footer {
    display: none;
  }
  .header-home {
    height: auto;
  }
  .header {
    padding-bottom: 30px;
    background-position-x: -760px;
  }
  .header_offer {
    display: block;
    padding-top: 80px;
  }
  .header_desc {
    margin-bottom: 20px;
  }
  .header_bubbles {
    margin-left: auto;
  }
  .header_info {
    width: auto;
  }
  .header_bubble.firm-style {
    margin-left: 35px;
  }
  .steps_wrap {
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .steps_circle:not(:first-child) {
    margin-top: -80px;
    margin-left: 0;
  }
  .steps_circle:nth-child(even) {
    margin-left: 260px;
  }
  .cons_wrap {
    margin: 0;
    gap: 20px 10px;
  }
  .templates {
    padding-bottom: 80px;
  }
  .templates_btn {
    background: #FFE712;
  }
  .fixed-plans_wrap {
    flex-direction: column;
  }
  .fixed-plans_item {
    width: 90%;
  }
  .stamps .complect {
    padding-bottom: 120px;
  }
  .stamps .complect_wrap {
    flex-direction: column;
    gap: 40px;
  }
  .stamps .complect_img:before {
    display: none;
  }
  .stamps .pros_item {
    gap: 16px;
    flex-direction: column;
  }
  .stamps .types {
    padding-bottom: 0;
  }
  .stamps .types_wrap {
    display: flex;
    flex-direction: column;
  }
  .stamps .types_info {
    background: none;
    position: relative;
    opacity: 1;
    display: none;
  }
  .stamps .types_info:after {
    display: block;
  }
  .stamps .types_img {
    aspect-ratio: 5/3;
  }
  .stamps .types_item {
    aspect-ratio: 5/3;
  }
  .stamps .types_item:after {
    display: block;
  }
  .stamps .types_item.active {
    aspect-ratio: initial;
  }
  .stamps .types_item.active:after {
    display: none;
  }
  .stamps .types_item.active .types_img {
    position: relative;
  }
  .stamps .types_item.active .types_info {
    padding: 20px 0;
    display: block;
  }
  .stamps .types_item.active .types_info:after {
    background: #FFE712 url("../img/close-box.svg") no-repeat center/contain;
    background-size: 26px;
    background-position-y: 14px;
  }
  .stamps .types_name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .stamps .types_text {
    font-size: 12px;
  }
  .stamps .catalog-modal_body {
    gap: 30px;
  }
  .stamps .catalog_wrap {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 11px 7px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .stamps .plans_wrap {
    margin: 60px 0;
  }
  .order_wrap {
    display: flex;
    flex-direction: column;
  }
  .order_product_btn {
    margin: 24px auto 0;
  }
  .template_footer_circle {
    background: #FFE712;
  }
  .color_colors {
    gap: 21px;
  }
  .color_color {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  h1, h2 {
    font-size: 32px;
  }
  .nav {
    padding: 23px 0;
  }
  .nav_menu, .nav_btns {
    display: none;
  }
  .nav_burger {
    display: flex;
  }
  .header {
    padding-bottom: 240px;
    background-position-x: center;
  }
  .header_desc {
    margin-bottom: 60px;
  }
  .header_bubbles {
    justify-content: end;
    margin-right: 10%;
  }
  .header_bubble {
    width: 90px;
    height: 90px;
  }
  .header_bubble.firm-style {
    width: 130px;
    height: 130px;
    margin-left: 0;
  }
  .header_bubble.web-sites {
    width: 100px;
    height: 100px;
    margin-left: -40px;
    margin-top: 130px;
  }
  .steps_circle:not(:first-child) {
    margin-top: -80px;
    margin-left: 0;
  }
  .steps_circle:nth-child(even) {
    margin-left: 260px;
  }
  .steps {
    padding-bottom: 0;
  }
  .steps_wrap {
    padding-top: 60px;
  }
  .steps_circle {
    zoom: 0.8;
  }
  .bankBanner-image{
      display: none;
  }
  .bankBanner_wrap{
      margin: 0;
      padding
  }
  .cons {
    margin-top: -240px;
  }
  .cons_wrap {
    display: block;
  }
  .cons_item {
    flex-direction: column;
  }
  .cons_desc {
    height: auto;
    margin-bottom: 50px;
  }
  .templates {
    padding-bottom: 80px;
  }
  .templates_filters {
    gap: 15px;
  }
  .templates_categories {
    gap: 12px;
  }
  .templates_category {
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 12px;
  }
  .templates_btn {
    width: 130px;
    height: 130px;
    font-size: 14px;
  }
  .footer_bottom {
    flex-direction: column;
    gap: 40px;
  }
  .footer_links {
    flex-direction: column;
  }
  .fixed-plans_item {
    width: 100%;
  }
  .template_list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .template_footer {
    padding: 20px 36px;
    gap: 20px;
  }
  .template_footer_price {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .template_footer_circle {
    width: 110px;
    min-width: 110px;
    height: 110px;
    font-size: 14px;
  }
  .stamps .plans_item {
    width: 100%;
  }
  .stamps .pros {
    padding-top: 60px;
  }
  .stamps .pros_wrap {
    grid-template-columns: 1fr;
  }
  .stamps .complect_title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .stamps .complect_price {
    font-size: 60px;
  }
  .stamps .complect_btn {
    width: 190px;
    height: 62px;
    font-size: 16px;
  }
  .stamps .catalog_wrap {
    grid-template-columns: 1fr 1fr;
  }
  .order_product {
    grid-template-columns: 1fr;
  }
  .order_product_img {
    max-width: 50%;
  }
  .presentation .container {
    width: 100%;
  }
  .color_images {
    grid-template-columns: 1fr;
  }
  .color_colors {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .header_title {
    font-size: 33px;
  }
  .header_offer {
    padding-top: 40px;
  }
  .header_desc {
    font-size: 12px;
  }
  .project .nav_burger, .project .nav_burger_close {
    width: 18px;
  }
  .project_title {
    font-size: 25px;
  }
  .project_inputs_sizes {
    gap: 0 16px;
    margin-bottom: 50px;
  }
  .project_inputs_sizes label {
    margin-bottom: 12px;
  }
  .project_inputs_sizes .price {
    font-size: 16px;
  }
  .project_inputs_wrap {
    grid-template-columns: 1fr;
    max-width: 95%;
  }
  .project_inputs_wrap.with-textarea {
    grid-template-columns: 1fr;
    max-width: 95%;
  }
  .project_inputs_bottom {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 56px;
    gap: 16px;
  }
  .project_services_item {
    font-size: 12px;
    padding: 7px 14px;
    margin-top: 16px;
  }
  .cons {
    padding-top: 0;
  }
  .bankBanner-image{
      display: none;
  }
  .bankBanner_wrap{
      padding: 50px 0 50px 0;
      margin: 0;
  }

  .steps_circle {
    zoom: 0.7;
  }
  .steps_circle:not(:first-child) {
    margin-top: 5px;
    margin-left: 0;
  }
  .steps_circle:nth-child(even) {
    margin-left: 120px;
  }
  .templates_wrap {
    display: block;
    margin-top: 20px;
  }
  .templates_item {
    display: block;
  }
  .fixed-plans_list {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .fixed-plans .mobile-hide {
    display: none;
  }
  .fixed-plans_col_list {
    min-height: auto;
    margin-bottom: 20px;
  }
  .presentation {
    padding: 60px 0 80px;
  }
  .template_footer {
    flex-direction: column-reverse;
    padding: 20px 30px;
  }
  .template_footer_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
  }
  .template_footer_circle {
    width: 100px;
    min-width: 100px;
    height: 100px;
    font-size: 12px;
  }
  .template_footer_price {
    display: none;
    font-size: 26px;
  }
  .template_footer_price_sm {
    display: block;
    margin-bottom: 0;
  }
  .template_footer_text {
    font-size: 12px;
  }
  .template .fixed-plans_wrap {
    margin-top: 40px;
  }
  .template .fixed-plans_list {
    gap: 10px;
  }
  .template .fixed-plans_price {
    text-align: left;
  }
  .sort-btn {
    font-size: 14px;
  }
  .sort-btn img {
    width: auto;
    height: 6px;
  }
  .color {
    padding: 40px 0 0;
  }
  .color_wrap {
    display: flex;
  }
  .color_images {
    grid-template-columns: 1fr;
  }
  .color_colors {
    grid-template-columns: 1fr 1fr;
    width: auto;
  }
  .color_color {
    width: 25px;
    height: 25px;
  }
  .color_item img {
    max-width: 260px;
  }
  .stamps .catalog-modal_body {
    padding: 10px 10px 30px;
    gap: 20px;
  }
}/*# sourceMappingURL=media.css.map */